.TitleCastomer{
    font-size: 48px;
    text-align: center;
}
.TextCastomer{
    width: 570px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    margin-top: 9px;
    color: #6B6B6B;

}