.Lux{
    width: 100%;
    background-color: #1D2B38;
    height: 667px;
    margin-top: 179px;
    padding-top: 62px;
}
.imgLuxMain{
    border-radius: 10px;
    margin-right: 50px;
}
.LuxContents{
    display: flex;
    width: 1170px;
    margin: 0 auto;
    
    
}