.ListingProperty{
    max-width: 1170px;
    margin: 0 auto;
}
.titleListingProperty{
    min-width: 500px;
    font-size: 48px;
    margin-bottom: 9px;
    margin-top: 180px;
    margin-left: 354px;
   
}
.sloganListingProperty{
    font-size: 18px;
    color: #6B6B6B;
    width: 570px;
    text-align: center;
    margin-left: 290px;
    margin-bottom: 44px;
}
.PropertyList{
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}